.gallery-2 h1 {
    word-wrap: break-word;
    cursor: default !important;
}

.gallery-2 h6 {
    cursor: default !important;
}

.flag {
    margin-top: -9px !important;
}

/*.ceremony {
    background-image: url('/images/ceremony.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}*/

.registry-1 h1 {
    margin-bottom: 30px;
}

.field-error {
    border: 1px solid #d60000 !important;
}

.rsvp-2 p:last-of-type {
  margin-bottom: 30px !important;
}

.registry-1 img {
    max-height: initial !important;
    max-width: 100%;
}

.rsvp-2 .form-wrapper {
    width: 100%;
}

section.fullscreen .container {
    top: 55%;
}

.maps iframe{
    pointer-events: none;
}

.section-separator {
    background-color:#EFE0D3;
    text-align: center;
}

.section-separator img {
    left: auto;
    right: auto;
    margin: 15px auto 15px auto;
}

.details-3 h6 {
  /*margin-bottom: 60px;*/
  color: #EFE0D3;
}

.details-3 {
    padding-bottom: 120px !important;
}

.radio-holder:hover, .radio-holder.checked {
    color: #444 !important;
}

.rsvp form input[type="submit"] {
    color: #444 !important;
}

