<!-- White border -->
<div class="wed_white_inner_border">
    <!-- section -->
    <section class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed wed_border" data-stellar-background-ratio="0.2" data-image="/images/young_couple/turnover.jpg">
        <!-- Over -->
        <div class="wed_over" data-color="#735943" data-opacity="0.7"></div>
        <div class="wed_over" data-color="#735943" data-opacity="0.9" data-blend="screen"></div>

        <div class="container">
            <div class="row wed_auto_height wed_middle_titles">
                <div class="col-md-12 wed_image_bck wed_fixed text-center">
                    <h2> Are you attending?</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante
                        quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum,
                        tincidunt metus. Etiam ut ultrices
                    </p>
                    <a href="#rsvp" class="btn btn_new">RSVP</a>
                </div>
                <!-- col end -->

            </div>
            <!-- row end -->

        </div>
        <!-- container end -->

    </section>
    <!-- section end -->
</div>
<!-- White border end -->
<!-- section -->
<section id="gallery" class="wed_section_outter wed_image_bck">


    <div class="container text-center wed_great_titles">

        <h2>Our Gallery</h2>


        <!-- filters -->
        <div class="button-group filter-button-group">
            <a data-filter="*">Show All</a>
            <a data-filter=".web_design">Engagement</a>
            <a data-filter=".graphic_design">First Dates</a>
            <a data-filter=".logo_design">Trip</a>
        </div>
        <!-- filters end -->
        <!-- grid -->
        <div class="wed_portfolio grid">
            <!-- item -->
            <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                    <img src="/images/young_couple/alongbeach.jpg" alt="">
                    <span class="wed_port_titles">
                        <span class="wed_port_title">Love Story</span>
                        <span class="wed_port_icons">
                            <a href="01_04_portfolio_masonry_full_3col.html"><i class="ti ti-link"></i></a>
                            <a href="/images/young_couple/alongbeach.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                        </span>
                    </span>
                </div>
            </div>

            <!-- item -->
            <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                    <img src="/images/young_couple/dream.jpg" alt="">
                    <span class="wed_port_titles">
                        <span class="wed_port_title">First Met</span>
                        <span class="wed_port_icons">
                            <a href="01_04_portfolio_masonry_full_3col.html"><i class="ti ti-link"></i></a>
                            <a href="/images/young_couple/dream.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                        </span>
                    </span>
                </div>
            </div>

            <!-- item -->
            <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                    <img src="/images/young_couple/eating.jpg" alt="">
                    <span class="wed_port_titles">
                        <span class="wed_port_title">First Met</span>
                        <span class="wed_port_icons">
                            <a href="01_04_portfolio_masonry_full_3col.html"><i class="ti ti-link"></i></a>
                            <a href="/images/young_couple/eating.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                        </span>
                    </span>
                </div>
            </div>

            <!-- item -->
            <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                    <img src="/images/young_couple/hug.jpg" alt="">
                    <span class="wed_port_titles">
                        <span class="wed_port_title">Love Story</span>
                        <span class="wed_port_icons">
                            <a href="01_04_portfolio_masonry_full_3col.html"><i class="ti ti-link"></i></a>
                            <a href="/images/young_couple/hug.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                        </span>
                    </span>
                </div>
            </div>

            <!-- item -->
            <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                    <img src="/images/young_couple/inpool.jpg" alt="">
                    <span class="wed_port_titles">
                        <span class="wed_port_title">First Met</span>
                        <span class="wed_port_icons">
                            <a href="01_04_portfolio_masonry_full_3col.html"><i class="ti ti-link"></i></a>
                            <a href="/images/young_couple/inpool.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                        </span>
                    </span>
                </div>
            </div>

            <!-- item -->
            <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                    <img src="/images/young_couple/onkitchen.jpg" alt="">
                    <span class="wed_port_titles">
                        <span class="wed_port_title">First Met</span>
                        <span class="wed_port_icons">
                            <a href="01_04_portfolio_masonry_full_3col.html"><i class="ti ti-link"></i></a>
                            <a href="/images/young_couple/onkitchen.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                        </span>
                    </span>
                </div>
            </div>

            <!-- item -->
            <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                    <img src="/images/young_couple/running.jpg" alt="">
                    <span class="wed_port_titles">
                        <span class="wed_port_title">Love Story</span>
                        <span class="wed_port_icons">
                            <a href="01_04_portfolio_masonry_full_3col.html"><i class="ti ti-link"></i></a>
                            <a href="/images/young_couple/running.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                        </span>
                    </span>
                </div>
            </div>

            <!-- item -->
            <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                    <img src="/images/young_couple/turnover.jpg" alt="">
                    <span class="wed_port_titles">
                        <span class="wed_port_title">Love Story</span>
                        <span class="wed_port_icons">
                            <a href="01_04_portfolio_masonry_full_3col.html"><i class="ti ti-link"></i></a>
                            <a href="/images/young_couple/turnover.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                        </span>
                    </span>
                </div>
            </div>

            <!-- item -->
            <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                    <img src="/images/young_couple/inwater.jpg" alt="">
                    <span class="wed_port_titles">
                        <span class="wed_port_title">First Met</span>
                        <span class="wed_port_icons">
                            <a href="01_04_portfolio_masonry_full_3col.html"><i class="ti ti-link"></i></a>
                            <a href="/images/young_couple/inwater.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                        </span>
                    </span>
                </div>
            </div>

            <!-- item -->
            <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                    <img src="/images/young_couple/him.jpg" alt="">
                    <span class="wed_port_titles">
                        <span class="wed_port_title">Love Story</span>
                        <span class="wed_port_icons">
                            <a href="01_04_portfolio_masonry_full_3col.html"><i class="ti ti-link"></i></a>
                            <a href="/images/young_couple/him.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                        </span>
                    </span>
                </div>
            </div>

            <!-- item -->
            <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                    <img src="/images/young_couple/her.jpg" alt="">
                    <span class="wed_port_titles">
                        <span class="wed_port_title">First Met</span>
                        <span class="wed_port_icons">
                            <a href="01_04_portfolio_masonry_full_3col.html"><i class="ti ti-link"></i></a>
                            <a href="/images/young_couple/her.jpg" class="lightbox"><i class="ti ti-search"></i></a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <!-- grid end -->

    </div>
    <!-- container end -->

</section>
<!-- section end -->
