<!-- White border -->
<div class="wed_white_inner_border">

    <!-- section -->
    <section class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed wed_border" data-stellar-background-ratio="0.2" data-image="/images/young_couple/hug.jpg">
        <!-- Over -->
        <div class="wed_over" data-color="rgb(236, 224, 212)" data-opacity="0.7"></div>
        <div class="wed_over" data-color="rgb(236, 224, 212)" data-opacity="0.9" data-blend="screen"></div>

        <div class="container">
            <div class="row wed_thin_titles">
                <div class="col-md-12 text-center">
                    <h2>“ The best gift is your patecipation, thanks to all ”</h2>
                </div>
                <!-- col end -->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->

    </section>
    <!-- section end -->
</div>
<!-- White border end-->
<!-- section -->
<section class="wed_section_outter">
    <div class="container text-center wed_great_titles">

        <h2>@Strings.GiftRegistry</h2>
        <p>
            @Strings.GiftRegistryDesc
        </p>
        <p>
        </p>
        <!-- boxes -->
        <div class="wed_icon_boxes row text-center">

            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <!-- item -->
                    <div class="col-md-3 col-sm-3">
                    </div>

                    <!-- item -->
                    <div class="col-md-6 col-sm-6">
                        <a href="#" class="wed_news_block">
                            <span class="wed_gifts_img">
                                <img src="/images/gift_registry/wedding-shop.jpg" alt="">
                            </span>
                        </a>
                    </div>

                    <!-- item -->
                    <div class="col-md-3 col-sm-3">
                    </div>
                </div>
            </div>


        </div>
        <!-- boxes end -->
    </div>
    <!-- container end -->
</section>
<!-- section end -->
