<!-- Section -->
<section class="wed_section_outter">

    <div class="container text-center wed_great_titles">
        <h2>Our Families</h2>
        <p>
            Our best friends who will help us and we highly appreciate that! Thanks for being there with us! We feel
            your help within the time and wish it lasts forever...
        </p>

        <!-- boxes -->
        <div class="wed_icon_boxes row text-center">

            <!-- slider -->
            <div class="wed_team_slider">
                <!-- item -->
                <div class="wed_icon_box wed_test_cont">

                    <!-- Pop-up -->
                    <div class="wed_testimonials">
                        <h4><b>Katarina Krajcova</b></h4>
                        <p>Mother of the Bride</p>
                        <div class="wed_item_social">
                            <a href="#"><i class="ti ti-facebook"></i></a>
                            <a href="#"><i class="ti ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti ti-google"></i></a>
                        </div>
                    </div>

                    <!-- photo -->
                    <div class="wed_icon_box_photo_testimonials">
                        <img src="/images/people/friend_1.jpg" alt="">
                    </div>

                    <!-- titles -->
                    <h4 class="wed_test_name"><b>Katarina Krajcova</b></h4>
                    <p>Mother of the Bride</p>
                </div>


                <!-- item -->
                <div class="wed_icon_box wed_test_cont">

                    <!-- Pop-up -->
                    <div class="wed_testimonials">
                        <h4><b>Karel Krajco</b></h4>
                        <p>Room Mate</p>
                        <div class="wed_item_social">
                            <a href="#"><i class="ti ti-facebook"></i></a>
                            <a href="#"><i class="ti ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti ti-google"></i></a>
                        </div>
                    </div>

                    <!-- photo -->
                    <div class="wed_icon_box_photo_testimonials">
                        <img src="/images/people/friend_7.jpg" alt="">
                    </div>

                    <!-- titles -->
                    <h4 class="wed_test_name"><b>Amber Richards</b></h4>
                    <p>Groomsman</p>
                </div>


                <!-- item -->
                <div class="wed_icon_box wed_test_cont">

                    <!-- Pop-up -->
                    <div class="wed_testimonials">
                        <h4><b>Carolyn Moreno</b></h4>
                        <p>Best Friend</p>
                        <div class="wed_item_social">
                            <a href="#"><i class="ti ti-facebook"></i></a>
                            <a href="#"><i class="ti ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti ti-google"></i></a>
                        </div>
                    </div>

                    <!-- photo -->
                    <div class="wed_icon_box_photo_testimonials">
                        <img src="/images/people/friend_4.jpg" alt="">
                    </div>

                    <!-- titles -->
                    <h4 class="wed_test_name"><b>Carolyn Moreno</b></h4>
                    <p>Bridesmaid</p>
                </div>

                <!-- item -->
                <div class="wed_icon_box wed_test_cont">

                    <!--Pop-up -->
                    <div class="wed_testimonials">
                        <h4><b>Donald Green</b></h4>
                        <p>Room Mate</p>
                        <div class="wed_item_social">
                            <a href="#"><i class="ti ti-facebook"></i></a>
                            <a href="#"><i class="ti ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti ti-google"></i></a>
                        </div>
                    </div>

                    <!-- photo -->
                    <div class="wed_icon_box_photo_testimonials">
                        <img src="/images/people/friend_5.jpg" alt="">
                    </div>

                    <!-- titles -->
                    <h4 class="wed_test_name"><b>Donald Green</b></h4>
                    <p>Groomsman</p>
                </div>

                <!-- item -->
                <div class="wed_icon_box wed_test_cont">

                    <!-- Pop-up -->
                    <div class="wed_testimonials">
                        <h4><b>Sindy Richards</b></h4>
                        <p>Room Mate</p>
                        <div class="wed_item_social">
                            <a href="#"><i class="ti ti-facebook"></i></a>
                            <a href="#"><i class="ti ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti ti-google"></i></a>
                        </div>
                    </div>

                    <!-- photo -->
                    <div class="wed_icon_box_photo_testimonials">
                        <img src="/images/people/friend_3.jpg" alt="">
                    </div>

                    <!-- titles -->
                    <h4 class="wed_test_name"><b>Sindy Richards</b></h4>
                    <p>Bridesmaid</p>
                </div>

            </div>
            <!-- Slider end -->
        </div>
        <!-- boxes end -->
    </div>
    <!-- container end -->
</section>
<!-- section end -->
