<div class="wed_mate_border">

    <!-- story section -->
    <section id="story" class="wed_section_outter">

        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-offset-2 col-md-8 text-center">
                    <div class="wed_topstory_titile wed_great_titles">
                        <h2 class="wed_without_after">
                            Our <img class="wed_small_img" src="/images/1.png" alt=""> Story
                        </h2>
                    </div>
                </div>
            </div>
            <!-- Row end -->
            <!-- animation -->
            <div data-animation="animation_blocks" data-bottom="@@class:noactive" data--10-bottom="@@class:active">
                <!-- item-->
                <div class="row wed_story_row">

                    <div class="col-sm-12 col-md-5 text-center wed_bd">
                        <div class="wed_second_border"></div>
                        <div class="wed_portfolio_item wed_story_img">
                            <div class="wed_portfolio_item_cont wed_story_cont">

                                <!--PHOTO-->
                                <img class="wed_img_height" src="/images/young_couple/alongbeach.jpg" alt="">
                                <!--ICON LINK-->
                                <span class="wed_port_titles">
                                    <span class="wed_port_title">Our First Met</span>
                                    <span class="wed_port_subtitle">Ribfest 2016</span>
                                    <span class="wed_port_icons">
                                        <a href="#"><i class="ti ti-link"></i></a>
                                        <a href="http://placehold.it/1400x900" class="lightbox"><i class="ti ti-search"></i></a>
                                    </span>
                                </span>
                                <!--END of ICON LINK-->

                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 hidden-sm hidden-xs text-center">
                        <div class="wed_story_center">
                            <div class="wed_story_content">
                                <div class="wed_heart_container">
                                    <img class="wed_heart_1" src="/images/small_people/heart_3.png" alt="">
                                    <img class="wed_heart_2" src="/images/small_people/heart_2.png" alt="">
                                </div>
                                <div class="wed_story_small_img">
                                    <img src="/images/small_people/couple_1.png" alt="">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-5">
                        <div class="wed_story_txt">
                            <h3>Our first met</h3>
                            <div class="wed_month_year">23 Sept 2013</div>
                            <h5>That day changed everything</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada
                                ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur
                                dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris
                                non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum,
                                mi ut sodales gravida.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>

                        </div>
                    </div>


                    <div class="wed_vertical_line wed_line_top hidden-sm hidden-xs"></div>
                </div>
                <!-- END of STORY ROW-1 -->
            </div>
            <!-- Animation End -->
            <!-- animation -->
            <div data-animation="animation_blocks" data-bottom="@@class:noactive" data--10-bottom="@@class:active">
                <!-- item-->
                <div class="row wed_story_row">

                    <div class="col-sm-12 col-md-5 col-md-push-7 text-center wed_bd">
                        <div class="wed_second_border_right"></div>
                        <div class="wed_portfolio_item wed_story_img">
                            <div class="wed_portfolio_item_cont wed_story_cont">

                                <!--PHOTO-->
                                <img src="/images/young_couple/eating.jpg" alt="" class="wed_img_height">
                                <!--ICON LINK-->
                                <span class="wed_port_titles">
                                    <span class="wed_port_title">Centennial Park</span>
                                    <span class="wed_port_subtitle">Ribfest 2016</span>
                                    <span class="wed_port_icons">
                                        <a href="#"><i class="ti ti-link"></i></a>
                                        <a href="http://placehold.it/1400x900" class="lightbox"><i class="ti ti-search"></i></a>
                                    </span>
                                </span>
                                <!--END of ICON LINK-->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 hidden-sm hidden-xs text-center">
                        <div class="wed_story_center">
                            <div class="wed_story_content">
                                <div class="wed_heart_container_row_2">
                                    <img class="wed_second_heart_1" src="/images/small_people/heart_3.png" alt="">
                                    <img class="wed_second_heart_2" src="/images/small_people/heart_1.png" alt="">
                                    <img class="wed_second_heart_3" src="/images/small_people/heart_2.png" alt="">
                                </div>
                                <div class="wed_story_small_img">
                                    <img src="/images/small_people/couple_2.png" alt="">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-5 col-md-pull-7 text-right">
                        <div class="wed_story_txt">
                            <h3>Our first dating</h3>
                            <div class="wed_month_year">28 Feb 2013</div>
                            <h5>That was so wonderful</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada
                                ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur
                                dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris
                                non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum,
                                mi ut sodales gravida.Lorem ipsum dolor sit amet, consectetur adipisicing
                            </p>
                        </div>
                    </div>
                    <div class="wed_vertical_line hidden-sm hidden-xs"></div>
                </div>
                <!-- END of STORY ROW-2 -->
            </div>
            <!-- Animation End -->
            <!-- animation -->
            <div data-animation="animation_blocks" data-bottom="@@class:noactive" data--10-bottom="@@class:active">
                <!-- item-->
                <div class="row wed_story_row">
                    <div class="col-md-5 text-center wed_bd">
                        <div class="wed_second_border"></div>
                        <div class=" wed_portfolio_item event wed_story_img">
                            <div class="wed_portfolio_item_cont wed_story_cont">

                                <!--PHOTO-->
                                <img src="/images/young_couple/proposure.jpg" alt="" class="wed_img_height">
                                <!--ICON LINK-->
                                <span class="wed_port_titles">
                                    <span class="wed_port_title">Centennial Park</span>
                                    <span class="wed_port_subtitle">Ribfest 2016</span>
                                    <span class="wed_port_icons">
                                        <a href="#"><i class="ti ti-link"></i></a>
                                        <a href="http://placehold.it/1400x900" class="lightbox"><i class="ti ti-search"></i></a>
                                    </span>
                                </span>
                                <!--END of ICON LINK-->

                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 hidden-sm hidden-xs text-center">
                        <div class="wed_story_center">
                            <div class="wed_story_content">
                                <div class="wed_heart_container_row_3">
                                    <img class="wed_third_heart_1" src="/images/small_people/heart_third_step_3.png" alt="">
                                </div>
                                <div class="wed_story_small_img">
                                    <img src="/images/small_people/small_couple_third.png" alt="">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="wed_story_txt">
                            <h3>How he proposed</h3>
                            <div class="wed_month_year">16 Nov 2016</div>
                            <h5>That day changed everything</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada
                                ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur
                                dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris
                                non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum,
                                mi ut sodales gravida.Lorem ipsum dolor sit amet, consectetur adipisicing
                            </p>
                        </div>
                    </div>
                    <div class="wed_vertical_line hidden-sm hidden-xs"></div>
                </div>
                <!-- END of STORY ROW-3 -->
            </div>
            <!-- Animation End -->
            <!-- animation -->
            <div data-animation="animation_blocks" data-bottom="@@class:noactive" data--10-bottom="@@class:active">
                <!-- item-->
                <div class="row wed_story_row">

                    <div class="col-sm-12 col-md-5 col-md-push-7 text-center wed_bd">
                        <div class="wed_second_border_right"></div>
                        <div class="wed_portfolio_item event wed_story_img">
                            <div class="wed_portfolio_item_cont wed_story_cont">

                                <!--PHOTO-->
                                <img src="/images/young_couple/running.jpg" alt="" class="wed_img_height">
                                <!--ICON LINK-->
                                <span class="wed_port_titles">
                                    <span class="wed_port_title">Centennial Park</span>
                                    <span class="wed_port_subtitle">Ribfest 2016</span>
                                    <span class="wed_port_icons">
                                        <a href="#"><i class="ti ti-link"></i></a>
                                        <a href="http://placehold.it/1400x900" class="lightbox"><i class="ti ti-search"></i></a>
                                    </span>
                                </span>
                                <!--END of ICON LINK-->

                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 hidden-sm hidden-xs text-center">
                        <div class="wed_story_center">
                            <div class="wed_story_content">
                                <div class="wed_heart_container_row_4">
                                    <img class="wed_fourth_heart_1" src="/images/small_people/heart_1.png" alt="">
                                    <img class="wed_fourth_heart_2" src="/images/small_people/heart_2.png" alt="">
                                    <img class="wed_fourth_heart_3" src="/images/small_people/heart_3.png" alt="">
                                </div>
                                <div class="wed_story_small_img">
                                    <img src="/images/small_people/small_couple.png" alt="">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-5 col-md-pull-7 text-right">
                        <div class="wed_story_txt">
                            <h3>Now we together</h3>
                            <div class="wed_month_year">26 Aug 2017</div>
                            <h5>We're waiting for the best</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada
                                ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur
                                dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris
                                non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum,
                                mi ut sodales gravida.Phasellus condimentum, mi ut sodales gravida lorem
                            </p>
                        </div>
                    </div>
                    <div class="wed_vertical_line wed_line_bottom hidden-sm hidden-xs"></div>
                </div>
                <!-- END of STORY ROW-4 -->
            </div>
            <!-- Animation End -->
        </div>
        <!-- END of CONTAINER -->

    </section>
    <!-- Section end -->
</div>
