<!-- section -->
<!-- Wedding Journal -->
<section id="journal" class="wed_section_outter">
    <div class="container text-center wed_great_titles">

        <h2>Wedding Journal</h2>

        <!-- boxes -->
        <div class="wed_icon_boxes row text-left">

            <!-- item -->
            <div class="col-md-4 col-sm-12">

                <a href="http://verothemes.com/wedding/html/01_03_blog_fullwidth.html" class="wed_news_block">
                    <span class="wed_news_img">
                        <img src="/images/young_couple/eating.jpg" alt="">
                    </span>
                    <span class="wed_news_title">Planning Honeymoon Trip</span>
                    <span class="wed_news_author">Lawrence Stephens | 10 December</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa similique porro officiis
                        nobis nulla quidem nihil iste veniam ut sit, maiores.
                    </p>
                    <span class="btn btn_new">Read More</span>
                </a>
            </div>

            <!-- item -->
            <div class="col-md-4 col-sm-12">

                <a href="http://verothemes.com/wedding/html/01_03_blog_fullwidth.html" class="wed_news_block">
                    <span class="wed_news_img">
                        <img src="/images/wedding_journal/news_2.jpg" alt="">
                    </span>
                    <span class="wed_news_title">Surprises For our Guests</span>
                    <span class="wed_news_author">Carolyn Moreno | 8 December</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa similique porro officiis
                        nobis nulla quidem nihil iste veniam ut sit, maiores.
                    </p>
                    <span class="btn btn_new">Read More</span>
                </a>
            </div>

            <!-- item -->
            <div class="col-md-4 col-sm-12">

                <a href="http://verothemes.com/wedding/html/01_03_blog_fullwidth.html" class="wed_news_block">
                    <span class="wed_news_img">
                        <img src="/images/wedding_journal/news_3.jpg" alt="">
                    </span>
                    <span class="wed_news_title">Bachelor Party!</span>
                    <span class="wed_news_author">Donald Green | 1 December</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa similique porro officiis
                        nobis nulla quidem nihil iste veniam ut sit, maiores.
                    </p>
                    <span class="btn btn_new">Read More</span>
                </a>
            </div>

        </div>
        <!-- boxes end -->
    </div>
    <!-- container end -->
</section>
<!-- section end -->