.wed_fixed_bcg #leafContainer {
	width: 100%; height: 100vh; overflow: hidden; position: fixed; z-index: 1; pointer-events: none;
}
.wed_white_fixed #leafContainer {
	width: 100%; height: 100vh; overflow: hidden; position: fixed; z-index: 1; pointer-events: none;
}
#leafContainer {
	width: 100%; height: 100vh; overflow: hidden; z-index: 10; pointer-events: none;
}
.wed_slider_dandelions #leafContainer {
	width: 100%; height: 100vh; overflow: hidden; z-index: 10; pointer-events: none;
}
#leafContainer {
	position: fixed;
}
.wed_slider_dandelions #leafContainer {
	position: absolute;
}
#leafContainer > div {
	width: 45px; height: 45px; position: absolute; -webkit-animation-iteration-count: infinite, infinite; -webkit-animation-direction: normal, normal; -webkit-animation-timing-function: linear, ease-in;
}
#leafContainer > div > img {
	width: auto; height: 65px; position: absolute; -webkit-transform-origin: 50% -100%; -webkit-animation-iteration-count: infinite; -webkit-animation-direction: alternate; -webkit-animation-timing-function: linear;
}
.wed_floral #leafContainer > div > img {
	width: auto; height: 25px; position: absolute;
}
