<section class="accom accom-2 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>@Strings.AccommTitle</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 feature">
                <a href="http://sterminshotel.co.uk">
                    <img alt="St. Ermins' 'Hotel" src="~/Images/hotel.jpg">
                </a>
                <h6>St. Ermins' Hotel</h6>
                <p>
                    @Strings.AccommStErminsDetails
                </p>
                <p>
                    2 Caxton St, Westminster<br>
                    London SW1H 0QW
                </p>
                <p><a href="http://sterminshotel.co.uk">sterminshotel.co.uk</a></p>
            </div>

            <div class="col-sm-4 feature">
                <a href="http://www.guoman.com/">
                    <img alt="The Grosvenor Hotel" src="~/images/guoman.bmp">
                </a>
                <h6>The Grosvenor</h6>
                <p>
                    @Strings.AccommStErminsDetails
                </p>
                <p>
                    101 Buckingham Palace Rd<br>
                    London SW1W 0SJ
                </p>
                <p><a href="http://www.guoman.com/">guoman.com</a></p>
            </div>

            <div class="col-sm-4 feature">
                <a href="https://www.parkplaza.com/london-hotel-gb-sw1v-1eq/gbvictor">
                    <img alt="Park Plaza Victoria London" src="~/Images/park-plaza.jpg">
                </a>
                <h6>Park Plaza Victoria London</h6>
                <p>
                    A great option for the budget-concious with rooms for up to 4 guests.
                </p>
                <p>
                    <a href="https://www.parkplaza.com/london-hotel-gb-sw1v-1eq/gbvictor">parkplaza.com/london-hotel-gb-sw1v-1eq</a>
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-4 feature">
                <a href="http://victoriastationhotel.co.uk/">
                    <img alt="VICTORIA STATION HOTEL" src="~/images/victoria-station-hotel.jpg">
                </a>
                <h6>Victoria Station Hotel</h6>
                <p>
                    Limited cabins are available at Camp Krusty for groups with up to 8 guests.
                </p>
                <p>
                    <a href="http://victoriastationhotel.co.uk/">victoriastationhotel.co.uk</a>
                </p>
            </div>

            <div class="col-sm-4 feature">
                <a href="http://www.booking.com/searchresults.en-gb.html?aid=397597&label=gog235jc-index-en-XX-XX-unspec-gb-com-L%3Aen-O%3AwindowsSnt-B%3Achrome-N%3AXX-S%3Abo-U%3Ac&sid=73b894d6ffd876977b69170af6d8922d&sb=1&src=index&src_elem=sb&error_url=http%3A%2F%2Fwww.booking.com%2Findex.en-gb.html%3Faid%3D397597%3Blabel%3Dgog235jc-index-en-XX-XX-unspec-gb-com-L%253Aen-O%253AwindowsSnt-B%253Achrome-N%253AXX-S%253Abo-U%253Ac%3Bsid%3D73b894d6ffd876977b69170af6d8922d%3Bsb_price_type%3Dtotal%26%3B&ss=London&checkin_monthday=25&checkin_month=8&checkin_year=2017&checkout_monthday=27&checkout_month=8&checkout_year=2017&sb_travel_purpose=leisure&nflt=&sb_acc_types=1&room1=A%2CA&no_rooms=1&group_adults=2&group_children=0&ss_raw=London&search_pageview_id=c4026a5316920158&sxp_entr=1">
                    <img alt="Booking" src="~/images/booking.png">
                </a>
                <h6>Booking.com</h6>
                <p>
                    Limited cabins are available at Camp Krusty for groups with up to 8 guests.
                </p>
                <p>
                    <a href="http://www.booking.com/searchresults.en-gb.html?aid=397597&label=gog235jc-index-en-XX-XX-unspec-gb-com-L%3Aen-O%3AwindowsSnt-B%3Achrome-N%3AXX-S%3Abo-U%3Ac&sid=73b894d6ffd876977b69170af6d8922d&sb=1&src=index&src_elem=sb&error_url=http%3A%2F%2Fwww.booking.com%2Findex.en-gb.html%3Faid%3D397597%3Blabel%3Dgog235jc-index-en-XX-XX-unspec-gb-com-L%253Aen-O%253AwindowsSnt-B%253Achrome-N%253AXX-S%253Abo-U%253Ac%3Bsid%3D73b894d6ffd876977b69170af6d8922d%3Bsb_price_type%3Dtotal%26%3B&ss=London&checkin_monthday=25&checkin_month=8&checkin_year=2017&checkout_monthday=27&checkout_month=8&checkout_year=2017&sb_travel_purpose=leisure&nflt=&sb_acc_types=1&room1=A%2CA&no_rooms=1&group_adults=2&group_children=0&ss_raw=London&search_pageview_id=c4026a5316920158&sxp_entr=1">booking.com</a>
                </p>
            </div>

            <div class="col-sm-4 feature">
                <a href="https://www.airbnb.co.uk/s/London?guests=2&place_id=ChIJdd4hrwug2EcRmSrV3Vo6llI&checkin=25-08-2017&checkout=27-08-2017&adults=2&ss_id=4g8yxw3i&source=bb&page=1&s_tag=fyKQ7VyI&allow_override%5B%5D=">
                    <img alt="AirBnB" src="~/Images/airbnb.png">
                </a>
                <h6>AirBnB</h6>
                <p>
                    A great option for the budget-concious with rooms for up to 4 guests.
                </p>
                <p>
                    <a href="https://www.airbnb.co.uk">airbnb.co.uk</a>
                </p>
            </div>
        </div>
    </div>
</section>
