<section class="gallery gallery-2 overlay">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                @*<a href="#">*@
                <h1>#chrisandlenka</h1>
                <h6>@Strings.GalleryShareTheDay</h6>
                @*</a>*@
            </div>
        </div>
    </div>
</section>

<div class="instafeed" data-user-name="lenkaandchris" style="margin: auto auto;">
    <!-- InstaWidget -->
    @*<a href="https://instawidget.net/v/tag/lenkaandchris" id="link-94c9ca91a5295eadcd79666645a3e15f5b58b239f7edf192e395db758ed48eba">#lenkaandchris</a>
        <script src="https://instawidget.net/js/instawidget.js?u=94c9ca91a5295eadcd79666645a3e15f5b58b239f7edf192e395db758ed48eba&width=100%"></script>*@

    <!-- InstaWidget -->
    <a href="https://instawidget.net/v/tag/chrisandlenka" id="link-212965c57ae504a77ffbee116fd44d3478a66f4df5724e5120251705f60410ac">#chrisandlenka</a>
    <script src="https://instawidget.net/js/instawidget.js?u=212965c57ae504a77ffbee116fd44d3478a66f4df5724e5120251705f60410ac&width=100%"></script>

    @*<!-- InstaWidget -->
        <a href="https://instawidget.net/v/tag/stermins" id="link-79de0d9c76e36be4bed24dcaa82c61e638a9446e5977d86c1133dfab03b68fe7">#stermins</a>
        <script src="https://instawidget.net/js/instawidget.js?u=79de0d9c76e36be4bed24dcaa82c61e638a9446e5977d86c1133dfab03b68fe7&width=100%"></script>
    *@
</div>
