<section class="details details-2 overlay parallax">
    <div class="background-image-holder">
        <img alt="Background image" class="background-image" src="~/Images/hero2.jpg">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>@Strings.SaveTheDateTitle</h1>
                <h4>@Strings.SaveTheDateDetails</h4>
            </div>
        </div>
    </div>
</section>
