<section class="story story-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h2>@Strings.StoryTitle</h2>
                <h6>@Strings.StoryDetails</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2 col-sm-6 feature">
                <img alt="Photo" src="~/images/tall2.jpg">
                <p>@Strings.StoryAboutHer</p>
            </div>


            <div class="col-md-4 col-sm-6 feature">
                <img alt="Photo" src="~/images/tall1.jpg">
                <p>@Strings.StoryAboutHim</p>
            </div>


        </div>
    </div>
</section>
